$admonitions:
  ('note', 'info.svg', #4493f8)
  ('tip', 'fire.svg', #3fb950)
  ('important', 'important.svg', #ab7df8)
  ('warning', 'alert.svg', #d29922)
  ('caution', 'stop.svg', #f85149)
;

.admonition {
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  border-left: 0.25rem solid; /* Default left border if no type is specified */

  /* Title within the block */
  .admonition-title {
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    line-height: 1;
    color: inherit; /* fallback to parent's color, or override per-type */
  }
}

.admonition p {
  font-weight: 400;
  color: black;
}

@each $name, $icon, $icon-color in $admonitions {
  .admonition.#{$name} {
    color: #{$icon-color};
    border-left-color: $icon-color;
    background-color: rgba($icon-color, 0.05);
  }

  .admonition.#{$name} .admonition-title::before {

    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1em; 
    height: 1em; 
    margin-right: 0.3em; // spacing between icon and text

    -webkit-mask: url("/assets/img/icons/#{$icon}") no-repeat center center;
    mask: url("/assets/img/icons/#{$icon}") no-repeat center center;

    /* The color to fill the masked shape */
    background-color: $icon-color;

    /* Scale the mask inside the 1em box */
    -webkit-mask-size: contain;
    mask-size: contain;
  }
}

