---
layout: default
title: About me
permalink: /about.html
---

<h1 id="page_header">About me</h1>

I am an experimental chemist by training, but became a theoretical condensed matter physicist in graduate school. Over time, I have also begun to incorporate many more data-driven methods into my work, including machine learning. Currently, I study a variety of topics, including condensed matter, computational spectroscopy and how we can use data-driven techniques to accelerate discovery and aid interpretation/analysis in science.<br>

<!-- <a href="#professional_appointments_and_education">Professional Appointments & Education</a><br> -->

<h2 id="professional_appointments_and_education">Professional appointments &amp; education</h2>

{% for section in site.data.education %}
  <p>
    {% for what in section.what %}
      <span class="custom_bold">{{ what.title }}</span> ({{ what.when }}) <br>
    {% endfor %}
    {% if section.notes != null %}
      <em> {{ section.notes }} </em> <br>
    {% endif %}
    <a href="{{ section.institution_link }}"> {{ section.institution }}</a> | {{ section.institution_secondary }}
  </p>
{% endfor %}

<h2 id="peer_review">Peer review</h2>

Journals: 

{% for section in site.data.peer_review.journals %}
  <a href="{{ section.link }}">{{ section.name }}</a>{% if forloop.index != site.data.peer_review.journals.size %},{% endif %}
{% endfor %}

<br><br>

Proposals:

{% for section in site.data.peer_review.proposals %}
  <a href="{{ section.link }}">{{ section.name }}</a>{% if forloop.index != site.data.peer_review.proposals.size %},{% endif %}
{% endfor %}

<h2>Contact</h2>
<p>
  Please feel free to contact me at my work email: <a href="mailto: mcarbone@bnl.gov">mcarbone@bnl.gov</a>. I am always happy to answer questions about my work or to collaborate on exciting projects.
</p>



