---
layout: default
title: Grantgist
permalink: /grantgists.html
---

<h1 id="page_header">
    AI Grant Summaries
</h1>



<blockquote class="admonition note">
  <p class="admonition-title">Summary</p>
  <p>Notice of Funding Opportunity (NOFO; previously "Funding Opportunity Annoncement") summaries. AI (primarily OpenAI's GPTs) was used to summarize funding opportunities pdfs via a retrieval augmented generation pipeline, powered by Langchain and Langgraph. You can find the code that was used to do all of this at <a href="https://github.com/matthewcarbone/Composer">github.com/matthewcarbone/Composer</a>.</p>
</blockquote>

<blockquote class="admonition caution">
  <p class="admonition-title">Caution: these summaries are AI-generated</p>
  <p>Use at your own risk, and always check the funding opportunity itself. Do not rely on these summaries when submitting a response!</p>
</blockquote>


{% assign gists_sorted = site.grantgists | sort: "dateISO" | reverse %}

{% assign current_date = "" %}

{% for gist in gists_sorted %}
  {% if gist.dateISO != current_date %}
    <h3>{{ gist.dateISO | date: "%d %B %Y" }}</h3>
    {% assign current_date = gist.dateISO %}
  {% endif %}

  <ul>
    <li>{{ gist.OpportunityNumber }} - <a href="{{ gist.url }}">{{ gist.OpportunityTitle }}</a></li>
  </ul>
{% endfor %}
